@model IEnumerable<FitnessHub.Data.Entities.GymClasses.ClassType>

@{
    ViewData["Title"] = "Classes";
}

<div class="row">
    <div class="col-3" style="margin-top: -4px">
        <div style="margin-top: 2.4vh">
            <form id="categoryForm" class="form-group">
                <select id="categoryFilter" class="form-control">
                    <option value="0" selected disabled>Select Category</option>
                    <option value="">All Categories</option>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Value">@category.Text</option>
                    }
                </select>
            </form>
        </div>
    </div>
    <div class="col-6 view-text">
        <h2 style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 2vh">@ViewData["Title"]</h2>
    </div>
    <hr style="margin-bottom:1.8rem" />
</div>

@if (Model.Any())
{
    <div id="classTypesContainer">
        <div class="row justify-content-center mt-2">
            @foreach (var classItem in Model)
            {
                <div class="col-lg-3 col-md-3 col-sm-8 mx-2 mb-1">
                    <div class="card">
                        <div style="text-align: center; font-size: 2em; font-weight: bold" class="card-header"><div>@classItem.Name</div><div class="text-muted mb-1" style="font-size:1rem">@classItem.ClassCategory.Name</div></div>
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <img src="@classItem.ImageDisplay" alt="@classItem.Name" class="img-fluid" style="max-height: 200px; width: auto;" />
                            </div>
                            <div class="card-text">
                                <p style="margin-bottom: 0; margin-top: 0">@classItem.Description</p>
                            </div>
                        </div>
                        <div class="card-footer" style="color: whitesmoke; font-size: 1.3em">
                            <small>
                                <span style="float:left">
                                    Rating: @{
                                        if (classItem.NumReviews > 0)
                                        {
                                            <span>@(classItem.Rating % 1 == 0 ? $"{classItem.Rating:0}" : $"{classItem.Rating:0.##}")</span>@Html.Raw("/5")<i class="fa-solid fa-star ms-1"></i>
                                        }
                                        else
                                        {
                                            @Html.Raw("N/A")<i class="fa-solid fa-star ms-1"></i>
                                        }
                                    }
                                </span><span style="float: right">Reviews: @classItem.NumReviews</span>
                            </small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="container mb-4 view-text">
        <div class="text-light">
            There aren't any Classes currently available. <br />
            But don't give up! <br />
            Come back later or contact us for more information!
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#categoryFilter").change(function () {
                var categoryId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetClassesByCategory", "Classes")',
                    type: 'GET',
                    data: { categoryId: categoryId },
                    success: function (data) {
                        $('#classTypesContainer').html(data);
                    }
                });
            });
        });
    </script>
}