@model FitnessHub.Data.Entities.GymClasses.GymClass

@{
    ViewData["Title"] = "Gym Class Details";
}

<h1>Gym Class Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>
        <dd class="col-sm-10">
            @Model.Instructor.FirstName @Model.Instructor.LastName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gym)
        </dt>
        <dd class="col-sm-10">
            @Model.Gym.Id - @Model.Gym.Name - @Model.Gym.Country, @Model.Gym.City
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumReviews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumReviews)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
