@model FitnessHub.Data.Entities.GymMachines.Workout

@{
    ViewData["Title"] = "Workout Details";
}

<div class="container detailsdelete-text">
    <h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Workout Details</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-12 mb-2">
                            Instructor
                        </dt>
                        <dd class="col-sm-12">
                            @Model.Instructor.FullName
                        </dd>
                        <dd class="col-sm-12">
                            @Model.Instructor.Email
                        </dd>
                    </dl>
                    <div class="form-group">
                        <a asp-action="MyWorkouts" class="btn btn-secondary mt-2"><i class="fa-solid fa-chevron-left me-2"></i>Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h4 class="view-text mt-2" style="color: #ff6201; font-size: 1.8em; text-align:center">Exercises</h4>

<div class="row justify-content-center mt-4">
    @foreach (var exercise in Model.Exercises)
    {
        <div class="col-lg-3 col-md-3 col-sm-8 mx-2">
            <div class="card">
                <div style="text-align: center; font-size: 2em; font-weight: bold" class="card-header">@exercise.Name</div>
                <div class="card-body">
                    <div class="card-text">
                        <p><strong>Machine:</strong> @exercise.Machine.Name</p>
                        <p><strong>Sets:</strong> @exercise.Sets</p>
                        <p><strong>Repetitions:</strong> @exercise.Repetitions</p>
                        <p><strong>Time:</strong> @exercise.Time</p>
                        <p style="margin-bottom: 0"><strong>Notes:</strong> @exercise.Notes</p>
                    </div>
                </div>
                <div class="card-footer" style="color: #ff6201; font-size: 1.3em;">
                    <p style="margin-bottom: 0">@exercise.DayOfWeek</p>
                </div>
            </div>
        </div>
    }
</div>
