@model FitnessHub.Data.Entities.GymMachines.Workout

<h2>Delete Workout</h2>
<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Client</h4>
    <p>@Model.Client.FullName</p>
    <p>@Model.Client.Email</p>
</div>
<div>
    <h4>Instructor</h4>
    <p>@Model.Instructor.FullName</p>
    <p>@Model.Instructor.Email</p>
</div>

<h4>Exercises</h4>

<ul>
    @foreach (var exercise in Model.Exercises)
    {
        <li>
            @exercise.Name
        </li>
    }
</ul>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
