@model FitnessHub.Data.Entities.GymMachines.Workout

@{
    ViewData["Title"] = "Workout Details";
}

<div class="container detailsdelete-text">
    <h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">@Model.Client.FirstName's Workout Details</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-12 mb-2">
            Client
        </dt>
        <dd class="col-sm-12">
            @Model.Client.Fullname
        </dd>
        <dd class="col-sm-12">
            @Model.Client.Email
        </dd>
    </dl>
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning me-4 mt-2"><i class="fa-solid fa-pen me-2"></i>Update</a>
        <a asp-action="Index" class="btn btn-secondary mt-2"><i class="fa-solid fa-chevron-left me-2"></i>Back</a>
    </div>
</div>


<h4 class="view-text mb-4 mt-3" style="color: #ff6201; font-size: 1.8em; text-align:center">Exercises</h4>

<div class="row justify-content-center">
    @foreach (var exercise in Model.Exercises)
    {
        <div class="col-lg-3 col-md-3 col-sm-8 mx-2">
            <div class="card">
                <div class="card-body">
                    <h5 style="text-align: center; font-size: 2em; font-weight: bold" class="card-title">@exercise.Name</h5>
                    <hr />
                    <div class="card-text">
                        <p><strong>Machine:</strong> @exercise.Machine.Name</p>
                        <p><strong>Sets:</strong> @exercise.Sets</p>
                        <p><strong>Repetitions:</strong> @exercise.Repetitions</p>
                        <p><strong>Time:</strong> @exercise.Time</p>
                        <p><strong>Notes:</strong> @exercise.Notes</p>
                    </div>
                </div>
                <div class="card-footer" style="color: #ff6201; font-size: 1.3em;">
                    <p style="margin-bottom: 0">@exercise.DayOfWeek</p>
                </div>
            </div>
        </div>
    }
</div>
