@model FitnessHub.Data.Entities.Users.MembershipDetails

@{
    ViewData["Title"] = "My Membership";
}

@if (ViewBag.HasMembership == false)
{
    <div style="display: flex; justify-content: center; align-items: center; width: 100%; padding: 0 1rem; margin-bottom: 4vh; margin-top: 3.5vh">
        <!-- Wrapper for the button and heading -->
        <div style="display: inline-flex; align-items: center;">
            <!-- Button next to the text with margin -->
            <a style="margin-left: -100px" asp-action="SignUp" class="btn btn-primary">
                <i class="fa-solid fa-address-card me-2"></i>Sign Up
            </a>
            <!-- Heading centered -->
            <h2 class="view-text" style="font-weight: bolder; margin: 0; margin-left: 40px">
                My Membership
            </h2>
            <hr style="margin-bottom: 2.2rem" />
        </div>
    </div>
}
else
{
    <div class="container mb-4 view-text">
        <h2 style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">My Membership</h2>
        <hr style="margin-bottom: 2.2rem" />
    </div>
}

@if (Model != null)
{
    <div class="row justify-content-center mt-2">
        <div class="col-lg-3 col-md-3 col-sm-8 mx-2" style="margin-bottom: 2.3rem">
            <div class="card">
               <div style="text-align: center; font-size: 2em; font-weight: bold" class="card-header">@Model.Membership.Name</div>
                <div class="card-body">
                    <div class="card-text">
                        <p>@Model.Membership.Description</p>

                        <p>
                            <strong>Status:</strong> @if (@Model.Status)
                            {
                                <span>Active</span>
                            }
                            else
                            {
                                <span>Inactive</span>
                            }</p>
                        <p><strong>Date of Renewal:</strong> @Model.DateRenewal.ToShortDateString()</p>

                        <form asp-action="CancelMembership">
                            <button type="submit" class="btn btn-danger me-2 mt-2">
                                <i class="fa-solid fa-trash-can me-2"></i>Cancel Membership
                            </button>
                        </form>

                    </div>
                </div>
                <div class="card-footer" style="color: whitesmoke; font-size: 1.3em;">
                    <small><strong>@Model.Membership.Price.ToString("C2") / Month</strong></small>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <hr />
    <h4 class="no-items-list">You have no Membership!</h4>
}

