@model FitnessHub.Data.Entities.Gym

@{
    ViewData["Title"] = "Details";
    string googleMapsKey = ViewBag.GoogleMapsKey;
}

<div class="container detailsdelete-text">
    <h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh;">@Model.Name Details</h2>
    <hr />
    <div class="row">

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <dl class="row" style="color: black">
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.Country)
                        </dd>
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.City)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.City)
                        </dd>
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.Rating)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.Rating)
                        </dd>
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.NumReviews)
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.NumReviews)
                        </dd>
                    </dl>

                    @if(this.User.Identity.IsAuthenticated && this.User.IsInRole("MasterAdmin"))
                    {
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-secondary me-2"><i class="fa-solid fa-chevron-left me-2"></i>Back</a>

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-class-id="@Model.Id">
                            <i class="fa-solid fa-trash-can me-2"></i>Delete
                        </button>

                        <div asp-validation-summary="ModelOnly" class="text-danger mt-4"></div>
                    </div>
                    }

                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <dl class="row">
                <dd class="col-sm-12">
                    <iframe src="https://www.google.com/maps/embed/v1/place?key=@googleMapsKey&q=@Model?.Address,@Model?.City+@Model?.Country"
                            alt="Gym map location" style="max-width: 100%; height: auto; max-height: 20vw" title="Gym Location">
                    </iframe>
                </dd>
            </dl>
        </div>

        <div class="col-md-3 mb-4">
            <dl class="row">
                <dd class="col-sm-12">
                    <img src="@Model.ImageDisplay" alt="Gym image" style="width: 100%; max-height: 20vw" />
                </dd>
            </dl>
        </div>

    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">Confirm Delete</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you really want to delete this gym?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteForm" asp-action="Delete" method="post" style="display:inline;">
                    <input type="hidden" id="classId" name="Id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var confirmDeleteModal = document.getElementById('confirmDeleteModal');
    confirmDeleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var classId = button.getAttribute('data-class-id');
        var form = document.getElementById('deleteForm');
        form.querySelector('#classId').value = classId;
    });
</script>
