@* @model AvailableClassesViewModel

<h2>My Registered Classes</h2>

@if (Model.Classes.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Class</th>
                <th>Instructor Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classEntity in Model.Classes)
            {
                <tr>
                    <td>@classEntity.Category</td>
                    <td>@classEntity.InstructorName</td>
                    <td>@classEntity.DateStart.ToString("g")</td>
                    <td>@classEntity.DateEnd.ToString("g")</td>
                    <td>@classEntity.Location</td>
                    <td>
                        <a asp-action="ClassDetails" asp-route-id="@classEntity.Id" class="btn btn-info">Details</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmUnregisterModal" data-class-id="@classEntity.Id">
                            Unregister
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You are not registered for any classes.</p>
}

<div class="modal fade" id="confirmUnregisterModal" tabindex="-1" aria-labelledby="confirmUnregisterLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmUnregisterLabel">Confirm Unregister</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you really want to unregister from this class?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              
                <form id="unregisterForm" asp-action="Unregister" method="post" style="display:inline;">
                    <input type="hidden" id="classId" name="id" value="" />
                    <button type="submit" class="btn btn-danger">Confirm Unregister</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var confirmUnregisterModal = document.getElementById('confirmUnregisterModal');
    confirmUnregisterModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var classId = button.getAttribute('data-class-id');
        var form = document.getElementById('unregisterForm');
        form.querySelector('#classId').value = classId;
    });
</script>
 *@


 @model AvailableClassesViewModel

<div style="display: flex; justify-content: center; align-items: center; width: 100%; padding: 0 1rem; margin-bottom: 4vh; margin-top: 3.5vh">
    <div style="display: inline-flex; align-items: center;">
        <a style="margin-left: -100px" asp-action="CreateGymClass" class="btn btn-primary">
            <i class="fa-solid fa-house me-2"></i>New
        </a>
        <h2 class="view-text" style="font-weight: bolder; margin: 0; margin-left: 40px">
            My Registered Classes
        </h2>
    </div>
</div>

@if (Model.Classes.Any())
{
    <div class="card-container">
        <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>Instructor Name</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var classEntity in Model.Classes)
                    {
                        <tr>
                            <td>@classEntity.Category</td>
                            <td>@classEntity.InstructorName</td>
                            <td>@classEntity.DateStart.ToString("g")</td>
                            <td>@classEntity.DateEnd.ToString("g")</td>
                            <td>@classEntity.Location</td>
                            <td>
                                <a asp-action="ClassDetails" asp-route-id="@classEntity.Id" class="btn btn-info"><i class="fa-solid fa-list me-2"></i>
                                    Details
                                </a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmUnregisterModal" data-class-id="@classEntity.Id">
                                    <i class="fa-solid fa-trash-can me-2"></i>
                                    Unregister
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <hr />
    <h4 class="no-items-list">You are not registered for any classes.</h4>
}

<div class="modal fade" id="confirmUnregisterModal" tabindex="-1" aria-labelledby="confirmUnregisterLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmUnregisterLabel">Confirm Unregister</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you really want to unregister from this class?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="unregisterForm" asp-action="Unregister" method="post" style="display:inline;">
                    <input type="hidden" id="classId" name="id" value="" />
                    <button type="submit" class="btn btn-danger">Confirm Unregister</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var confirmUnregisterModal = document.getElementById('confirmUnregisterModal');
    confirmUnregisterModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var classId = button.getAttribute('data-class-id');
        var form = document.getElementById('unregisterForm');
        form.querySelector('#classId').value = classId;
    });
</script>

